USE [bar]
GO
ALTER TABLE [dbo].[ticketEncabezado] DROP CONSTRAINT [FK__ticketEnc__tipoP__0E6E26BF]
GO
ALTER TABLE [dbo].[ticketEncabezado] DROP CONSTRAINT [FK__ticketEnc__sucur__0C85DE4D]
GO
ALTER TABLE [dbo].[ticketEncabezado] DROP CONSTRAINT [FK__ticketEnc__emple__0D7A0286]
GO
ALTER TABLE [dbo].[ticketDetalle] DROP CONSTRAINT [FK__ticketDet__produ__7E37BEF6]
GO
ALTER TABLE [dbo].[ticketDetalle] DROP CONSTRAINT [FK__ticketDet__produ__6EF57B66]
GO
ALTER TABLE [dbo].[sucursal] DROP CONSTRAINT [FK_SucursalMunicipio]
GO
ALTER TABLE [dbo].[sucursal] DROP CONSTRAINT [FK_SucursalEstado]
GO
ALTER TABLE [dbo].[sucursal] DROP CONSTRAINT [FK__sucursal__coloni__70DDC3D8]
GO
ALTER TABLE [dbo].[sucursal] DROP CONSTRAINT [FK__sucursal__coloni__00200768]
GO
ALTER TABLE [dbo].[sucursal] DROP CONSTRAINT [FK__sucursal__calle___7F2BE32F]
GO
ALTER TABLE [dbo].[sucursal] DROP CONSTRAINT [FK__sucursal__calle___6FE99F9F]
GO
ALTER TABLE [dbo].[ordenCompra] DROP CONSTRAINT [FK__ordenComp__ticke__693CA210]
GO
ALTER TABLE [dbo].[ordenCompra] DROP CONSTRAINT [FK__ordenComp__produ__6A30C649]
GO
ALTER TABLE [dbo].[ordenCompra] DROP CONSTRAINT [FK__ordenComp__almac__6B24EA82]
GO
ALTER TABLE [dbo].[municipios] DROP CONSTRAINT [FK_MunicipioEstado]
GO
ALTER TABLE [dbo].[empleado] DROP CONSTRAINT [FK_EmpleadoMunicipio]
GO
ALTER TABLE [dbo].[empleado] DROP CONSTRAINT [FK__empleado__puesto__778AC167]
GO
ALTER TABLE [dbo].[empleado] DROP CONSTRAINT [FK__empleado__puesto__06CD04F7]
GO
ALTER TABLE [dbo].[empleado] DROP CONSTRAINT [FK__empleado__coloni__74AE54BC]
GO
ALTER TABLE [dbo].[empleado] DROP CONSTRAINT [FK__empleado__coloni__03F0984C]
GO
ALTER TABLE [dbo].[empleado] DROP CONSTRAINT [FK__empleado__calle___73BA3083]
GO
ALTER TABLE [dbo].[empleado] DROP CONSTRAINT [FK__empleado__calle___02FC7413]
GO
ALTER TABLE [dbo].[colonia] DROP CONSTRAINT [FK_ColoniaMunicipio]
GO
ALTER TABLE [dbo].[calle] DROP CONSTRAINT [FK_MunicipioCalle]
GO
ALTER TABLE [dbo].[almacenProducto] DROP CONSTRAINT [FK__almacenPr__sucur__7B5B524B]
GO
ALTER TABLE [dbo].[almacenProducto] DROP CONSTRAINT [FK__almacenPr__sucur__6C190EBB]
GO
ALTER TABLE [dbo].[almacenProducto] DROP CONSTRAINT [FK__almacenPr__produ__7C4F7684]
GO
ALTER TABLE [dbo].[almacenProducto] DROP CONSTRAINT [FK__almacenPr__produ__6D0D32F4]
GO
ALTER TABLE [dbo].[puesto] DROP CONSTRAINT [Dft_sueldo]
GO
ALTER TABLE [dbo].[productos] DROP CONSTRAINT [Dft_precio]
GO
ALTER TABLE [dbo].[municipios] DROP CONSTRAINT [DF__municipio__activ__2BFE89A6]
GO
/****** Object:  Index [indxProducto]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP INDEX [indxProducto] ON [dbo].[productos]
GO
/****** Object:  Index [UN_Producto]    Script Date: 31/10/2019 08:54:20 p. m. ******/
ALTER TABLE [dbo].[productos] DROP CONSTRAINT [UN_Producto]
GO
/****** Object:  Index [indxNombreEmpleado]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP INDEX [indxNombreEmpleado] ON [dbo].[empleado]
GO
/****** Object:  Table [dbo].[tipoPago]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[tipoPago]
GO
/****** Object:  Table [dbo].[ticketEncabezado]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[ticketEncabezado]
GO
/****** Object:  Table [dbo].[ticketDetalle]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[ticketDetalle]
GO
/****** Object:  Table [dbo].[ordenCompra]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[ordenCompra]
GO
/****** Object:  Table [dbo].[empleadosBackup]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[empleadosBackup]
GO
/****** Object:  View [dbo].[productoExistencia]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP VIEW [dbo].[productoExistencia]
GO
/****** Object:  Table [dbo].[almacenProducto]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[almacenProducto]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[productos]
GO
/****** Object:  View [dbo].[empleadoDomicilio]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP VIEW [dbo].[empleadoDomicilio]
GO
/****** Object:  View [dbo].[domicilios]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP VIEW [dbo].[domicilios]
GO
/****** Object:  View [dbo].[empleadoSucursal]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP VIEW [dbo].[empleadoSucursal]
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[sucursal]
GO
/****** Object:  View [dbo].[empleadoPuesto]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP VIEW [dbo].[empleadoPuesto]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[empleado]
GO
/****** Object:  Table [dbo].[puesto]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[puesto]
GO
/****** Object:  View [dbo].[municipiosEstados]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP VIEW [dbo].[municipiosEstados]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[estados]
GO
/****** Object:  View [dbo].[coloniaMunicipio]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP VIEW [dbo].[coloniaMunicipio]
GO
/****** Object:  Table [dbo].[municipios]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[municipios]
GO
/****** Object:  View [dbo].[calleColonia]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP VIEW [dbo].[calleColonia]
GO
/****** Object:  Table [dbo].[calle]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[calle]
GO
/****** Object:  Table [dbo].[colonia]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP TABLE [dbo].[colonia]
GO
USE [master]
GO
/****** Object:  Database [bar]    Script Date: 31/10/2019 08:54:20 p. m. ******/
DROP DATABASE [bar]
GO
/****** Object:  Database [bar]    Script Date: 31/10/2019 08:54:20 p. m. ******/
CREATE DATABASE [bar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\bar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\bar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bar]
GO
/****** Object:  Table [dbo].[colonia]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colonia](
	[colonia_id] [int] NOT NULL,
	[codigoPostal] [int] NOT NULL,
	[nombreColonia] [varchar](50) NOT NULL,
	[municipio_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[colonia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calle]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calle](
	[calle_id] [int] NOT NULL,
	[nombreCalle] [varchar](50) NOT NULL,
	[colonia_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[calleColonia]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[calleColonia] as
	select c.nombreCalle,co.nombreColonia from calle c
		left join colonia co
		on co.colonia_id=c.colonia_id;
GO
/****** Object:  Table [dbo].[municipios]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipios](
	[id] [int] NOT NULL,
	[estado_id] [int] NULL,
	[clave] [varchar](3) NULL,
	[nombre] [varchar](100) NOT NULL,
	[activo] [tinyint] NOT NULL,
 CONSTRAINT [PK_municipios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[coloniaMunicipio]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view  [dbo].[coloniaMunicipio] as
select c.nombreColonia,m.nombre as nombreMunicipio from colonia c
	left join municipios m
	on m.id=c.municipio_id;
GO
/****** Object:  Table [dbo].[estados]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id] [int] NOT NULL,
	[estado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[municipiosEstados]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[municipiosEstados] as
select m.nombre,e.estado from municipios m
	left join estados e
	on m.estado_id=e.id;
GO
/****** Object:  Table [dbo].[puesto]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puesto](
	[puesto_id] [int] NOT NULL,
	[decripcion] [varchar](50) NOT NULL,
	[sueldo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[puesto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[empleado_id] [int] NOT NULL,
	[nombreCompleto] [varchar](100) NOT NULL,
	[puesto_id] [int] NOT NULL,
	[calle_id] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[municipio_id] [int] NOT NULL,
	[estado_id] [int] NOT NULL,
	[colonia_id] [int] NOT NULL,
	[sucursal_id] [int] NOT NULL,
	[nacimiento] [date] NOT NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[empleadoPuesto]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[empleadoPuesto] as
select e.nombreCompleto,p.decripcion from empleado e
	left join puesto p
	on p.puesto_id=e.puesto_id;
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursal](
	[sucursal_id] [int] NOT NULL,
	[calle_id] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[colonia_id] [int] NOT NULL,
	[municipio_id] [int] NOT NULL,
	[estado_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sucursal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[empleadoSucursal]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[empleadoSucursal] as
select e.nombreCompleto,s.sucursal_id from empleado e
	left join sucursal s
	on s.sucursal_id=e.sucursal_id
GO
/****** Object:  View [dbo].[domicilios]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[domicilios] as
select cme.calle_id,cme.nombreCalle,cme.nombreColonia,cme.nombreMunicipio,e.estado from estados e
		right join (select c.calle_id,c.colonia_id,c.nombreCalle,cm.nombreColonia,cm.nombreMunicipio,cm.estado_id from calle c
					left join 
							(select c.colonia_id,c.nombreColonia,m.nombre as nombreMunicipio,m.estado_id from colonia c
							left join municipios m
							on m.id=c.municipio_id)
					as cm
					on c.colonia_id=cm.colonia_id)
		as cme
		on cme.estado_id=e.id;
GO
/****** Object:  View [dbo].[empleadoDomicilio]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[empleadoDomicilio] as
select e.nombreCompleto,dir.nombreCalle,e.numero,dir.nombreColonia,dir.nombreMunicipio,dir.estado from empleado e
	inner join domicilios as dir
on dir.calle_id=e.calle_id;
GO
/****** Object:  Table [dbo].[productos]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[producto_id] [int] NOT NULL,
	[nombre] [varchar](25) NOT NULL,
	[precio] [int] NOT NULL,
	[precioTotal]  AS ([precio]*(1.16)),
PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[almacenProducto]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[almacenProducto](
	[almacenProducto_id] [int] NOT NULL,
	[sucursal_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
	[productoExistencia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[almacenProducto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[productoExistencia]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[productoExistencia] as
select p.nombre,a.sucursal_id,a.productoExistencia from almacenProducto a
	left join productos p
on p.producto_id=a.producto_id;
GO
/****** Object:  Table [dbo].[empleadosBackup]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleadosBackup](
	[empleado_id] [int] NOT NULL,
	[nombreCompleto] [varchar](100) NOT NULL,
	[puesto_id] [int] NOT NULL,
	[calle_id] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[municipio_id] [int] NOT NULL,
	[estado_id] [int] NOT NULL,
	[colonia_id] [int] NOT NULL,
	[sucursal_id] [int] NOT NULL,
	[nacimiento] [date] NOT NULL,
	[telefono] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordenCompra]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordenCompra](
	[ordenCompra_id] [int] NOT NULL,
	[ticket_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
	[almacenProducto_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ordenCompra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticketDetalle]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticketDetalle](
	[ticket_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[detalle_id] [int] NOT NULL,
	[precio] [money] NOT NULL,
	[precioTotal]  AS ([cantidad]*[precio]),
PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticketEncabezado]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticketEncabezado](
	[ticket_id] [int] NOT NULL,
	[empleado_id] [int] NOT NULL,
	[fechaCompra] [date] NOT NULL,
	[tipoPago_id] [int] NOT NULL,
	[sucursal_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoPago]    Script Date: 31/10/2019 08:54:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoPago](
	[tipoPago_id] [int] NOT NULL,
	[decripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoPago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[almacenProducto] ([almacenProducto_id], [sucursal_id], [producto_id], [productoExistencia]) VALUES (1, 1, 1, 100)
INSERT [dbo].[almacenProducto] ([almacenProducto_id], [sucursal_id], [producto_id], [productoExistencia]) VALUES (2, 1, 2, 150)
INSERT [dbo].[almacenProducto] ([almacenProducto_id], [sucursal_id], [producto_id], [productoExistencia]) VALUES (3, 1, 3, 200)
INSERT [dbo].[calle] ([calle_id], [nombreCalle], [colonia_id]) VALUES (1, N'Chopo', 1)
INSERT [dbo].[calle] ([calle_id], [nombreCalle], [colonia_id]) VALUES (2, N'2da Avenida', 2)
INSERT [dbo].[calle] ([calle_id], [nombreCalle], [colonia_id]) VALUES (3, N'Paseo de los Conquistadores', 3)
INSERT [dbo].[colonia] ([colonia_id], [codigoPostal], [nombreColonia], [municipio_id]) VALUES (1, 66448, N'Arboledas de Santo Domingo', 998)
INSERT [dbo].[colonia] ([colonia_id], [codigoPostal], [nombreColonia], [municipio_id]) VALUES (2, 66463, N'Jardines de Anáhuac', 998)
INSERT [dbo].[colonia] ([colonia_id], [codigoPostal], [nombreColonia], [municipio_id]) VALUES (3, 64610, N'Las Cumbres', 991)
INSERT [dbo].[empleado] ([empleado_id], [nombreCompleto], [puesto_id], [calle_id], [numero], [municipio_id], [estado_id], [colonia_id], [sucursal_id], [nacimiento], [telefono]) VALUES (1, N'Gerardo Uriel Ochoa Lopez', 1, 1, 78, 998, 19, 1, 1, CAST(N'2001-01-20' AS Date), N'812847938475')
INSERT [dbo].[empleado] ([empleado_id], [nombreCompleto], [puesto_id], [calle_id], [numero], [municipio_id], [estado_id], [colonia_id], [sucursal_id], [nacimiento], [telefono]) VALUES (2, N'Jose Ochoa Lopez', 2, 1, 78, 998, 19, 1, 1, CAST(N'1980-08-15' AS Date), N'8193840595')
INSERT [dbo].[empleado] ([empleado_id], [nombreCompleto], [puesto_id], [calle_id], [numero], [municipio_id], [estado_id], [colonia_id], [sucursal_id], [nacimiento], [telefono]) VALUES (3, N'Imelda Gonzalez Rodriguez', 3, 2, 45, 998, 19, 2, 1, CAST(N'1975-06-23' AS Date), N'8184958604')
INSERT [dbo].[empleadosBackup] ([empleado_id], [nombreCompleto], [puesto_id], [calle_id], [numero], [municipio_id], [estado_id], [colonia_id], [sucursal_id], [nacimiento], [telefono]) VALUES (1, N'Gerardo Uriel Ochoa Lopez', 1, 1, 78, 998, 19, 1, 1, CAST(N'2001-01-20' AS Date), N'812847938475')
INSERT [dbo].[empleadosBackup] ([empleado_id], [nombreCompleto], [puesto_id], [calle_id], [numero], [municipio_id], [estado_id], [colonia_id], [sucursal_id], [nacimiento], [telefono]) VALUES (2, N'Jose Ochoa Lopez', 2, 1, 78, 998, 19, 1, 1, CAST(N'1980-08-15' AS Date), N'8193840595')
INSERT [dbo].[empleadosBackup] ([empleado_id], [nombreCompleto], [puesto_id], [calle_id], [numero], [municipio_id], [estado_id], [colonia_id], [sucursal_id], [nacimiento], [telefono]) VALUES (3, N'Imelda Gonzalez Rodriguez', 3, 2, 45, 998, 19, 2, 1, CAST(N'1975-06-23' AS Date), N'8184958604')
INSERT [dbo].[estados] ([id], [estado]) VALUES (1, N'Aguascalientes')
INSERT [dbo].[estados] ([id], [estado]) VALUES (2, N'Baja California')
INSERT [dbo].[estados] ([id], [estado]) VALUES (3, N'Baja California Sur')
INSERT [dbo].[municipios] ([id], [estado_id], [clave], [nombre], [activo]) VALUES (1, 1, N'001', N'Aguascalientes', 1)
INSERT [dbo].[municipios] ([id], [estado_id], [clave], [nombre], [activo]) VALUES (2, 1, N'002', N'Asientos', 1)
INSERT [dbo].[municipios] ([id], [estado_id], [clave], [nombre], [activo]) VALUES (3, 1, N'003', N'Calvillo', 1)
GO
INSERT [dbo].[productos] ([producto_id], [nombre], [precio]) VALUES (1, N'18 Tecate', 265)
INSERT [dbo].[productos] ([producto_id], [nombre], [precio]) VALUES (2, N'24 Barrilito', 265)
INSERT [dbo].[productos] ([producto_id], [nombre], [precio]) VALUES (3, N'Whisky', 300)
INSERT [dbo].[puesto] ([puesto_id], [decripcion], [sueldo]) VALUES (1, N'Gerente', 10000)
INSERT [dbo].[puesto] ([puesto_id], [decripcion], [sueldo]) VALUES (2, N'Mesero', 3000)
INSERT [dbo].[puesto] ([puesto_id], [decripcion], [sueldo]) VALUES (3, N'Limpieza', 1000)
INSERT [dbo].[sucursal] ([sucursal_id], [calle_id], [numero], [colonia_id], [municipio_id], [estado_id]) VALUES (1, 1, 620, 1, 998, 19)
INSERT [dbo].[sucursal] ([sucursal_id], [calle_id], [numero], [colonia_id], [municipio_id], [estado_id]) VALUES (2, 3, 1001, 3, 991, 19)
INSERT [dbo].[ticketDetalle] ([ticket_id], [producto_id], [cantidad], [detalle_id], [precio]) VALUES (1, 1, 1, 2, 307.4000)
INSERT [dbo].[ticketDetalle] ([ticket_id], [producto_id], [cantidad], [detalle_id], [precio]) VALUES (2, 3, 2, 3, 348.0000)
INSERT [dbo].[ticketEncabezado] ([ticket_id], [empleado_id], [fechaCompra], [tipoPago_id], [sucursal_id]) VALUES (1, 2, CAST(N'2019-10-30' AS Date), 1, 1)
INSERT [dbo].[ticketEncabezado] ([ticket_id], [empleado_id], [fechaCompra], [tipoPago_id], [sucursal_id]) VALUES (2, 6, CAST(N'2019-10-30' AS Date), 2, 2)
INSERT [dbo].[tipoPago] ([tipoPago_id], [decripcion]) VALUES (1, N'Efectivo')
INSERT [dbo].[tipoPago] ([tipoPago_id], [decripcion]) VALUES (2, N'Debito')
INSERT [dbo].[tipoPago] ([tipoPago_id], [decripcion]) VALUES (3, N'Credito')
SET ANSI_PADDING ON
GO
/****** Object:  Index [indxNombreEmpleado]    Script Date: 31/10/2019 08:54:21 p. m. ******/
CREATE NONCLUSTERED INDEX [indxNombreEmpleado] ON [dbo].[empleado]
(
	[nombreCompleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_Producto]    Script Date: 31/10/2019 08:54:21 p. m. ******/
ALTER TABLE [dbo].[productos] ADD  CONSTRAINT [UN_Producto] UNIQUE NONCLUSTERED 
(
	[producto_id] ASC,
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indxProducto]    Script Date: 31/10/2019 08:54:21 p. m. ******/
CREATE NONCLUSTERED INDEX [indxProducto] ON [dbo].[productos]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[municipios] ADD  DEFAULT ('1') FOR [activo]
GO
ALTER TABLE [dbo].[productos] ADD  CONSTRAINT [Dft_precio]  DEFAULT ((0)) FOR [precio]
GO
ALTER TABLE [dbo].[puesto] ADD  CONSTRAINT [Dft_sueldo]  DEFAULT ((0)) FOR [sueldo]
GO
ALTER TABLE [dbo].[almacenProducto]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([producto_id])
GO
ALTER TABLE [dbo].[almacenProducto]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([producto_id])
GO
ALTER TABLE [dbo].[almacenProducto]  WITH CHECK ADD FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[sucursal] ([sucursal_id])
GO
ALTER TABLE [dbo].[almacenProducto]  WITH CHECK ADD FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[sucursal] ([sucursal_id])
GO
ALTER TABLE [dbo].[calle]  WITH CHECK ADD  CONSTRAINT [FK_MunicipioCalle] FOREIGN KEY([colonia_id])
REFERENCES [dbo].[municipios] ([id])
GO
ALTER TABLE [dbo].[calle] CHECK CONSTRAINT [FK_MunicipioCalle]
GO
ALTER TABLE [dbo].[colonia]  WITH CHECK ADD  CONSTRAINT [FK_ColoniaMunicipio] FOREIGN KEY([municipio_id])
REFERENCES [dbo].[municipios] ([id])
GO
ALTER TABLE [dbo].[colonia] CHECK CONSTRAINT [FK_ColoniaMunicipio]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([calle_id])
REFERENCES [dbo].[calle] ([calle_id])
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([calle_id])
REFERENCES [dbo].[calle] ([calle_id])
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([colonia_id])
REFERENCES [dbo].[colonia] ([colonia_id])
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([colonia_id])
REFERENCES [dbo].[colonia] ([colonia_id])
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([puesto_id])
REFERENCES [dbo].[puesto] ([puesto_id])
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([puesto_id])
REFERENCES [dbo].[puesto] ([puesto_id])
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadoMunicipio] FOREIGN KEY([municipio_id])
REFERENCES [dbo].[municipios] ([id])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_EmpleadoMunicipio]
GO
ALTER TABLE [dbo].[municipios]  WITH CHECK ADD  CONSTRAINT [FK_MunicipioEstado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[municipios] CHECK CONSTRAINT [FK_MunicipioEstado]
GO
ALTER TABLE [dbo].[ordenCompra]  WITH CHECK ADD FOREIGN KEY([almacenProducto_id])
REFERENCES [dbo].[almacenProducto] ([almacenProducto_id])
GO
ALTER TABLE [dbo].[ordenCompra]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([producto_id])
GO
ALTER TABLE [dbo].[ordenCompra]  WITH CHECK ADD FOREIGN KEY([ticket_id])
REFERENCES [dbo].[ticketDetalle] ([detalle_id])
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD FOREIGN KEY([calle_id])
REFERENCES [dbo].[calle] ([calle_id])
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD FOREIGN KEY([calle_id])
REFERENCES [dbo].[calle] ([calle_id])
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD FOREIGN KEY([colonia_id])
REFERENCES [dbo].[colonia] ([colonia_id])
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD FOREIGN KEY([colonia_id])
REFERENCES [dbo].[colonia] ([colonia_id])
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD  CONSTRAINT [FK_SucursalEstado] FOREIGN KEY([estado_id])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[sucursal] CHECK CONSTRAINT [FK_SucursalEstado]
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD  CONSTRAINT [FK_SucursalMunicipio] FOREIGN KEY([municipio_id])
REFERENCES [dbo].[municipios] ([id])
GO
ALTER TABLE [dbo].[sucursal] CHECK CONSTRAINT [FK_SucursalMunicipio]
GO
ALTER TABLE [dbo].[ticketDetalle]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([producto_id])
GO
ALTER TABLE [dbo].[ticketDetalle]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([producto_id])
GO
ALTER TABLE [dbo].[ticketEncabezado]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[ticketEncabezado]  WITH CHECK ADD FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[sucursal] ([sucursal_id])
GO
ALTER TABLE [dbo].[ticketEncabezado]  WITH CHECK ADD FOREIGN KEY([tipoPago_id])
REFERENCES [dbo].[tipoPago] ([tipoPago_id])
GO
USE [master]
GO
