USE [lbd]
GO
/****** Object:  Table [dbo].[personas]    Script Date: 03/09/2019 03:14:11 p. m. ******/
DROP TABLE [dbo].[personas]
GO
USE [master]
GO
/****** Object:  Database [lbd]    Script Date: 03/09/2019 03:14:11 p. m. ******/
DROP DATABASE [lbd]
GO
/****** Object:  Database [lbd]    Script Date: 03/09/2019 03:14:12 p. m. ******/
CREATE DATABASE [lbd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lbd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\lbd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lbd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\lbd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lbd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lbd]
GO
/****** Object:  Table [dbo].[personas]    Script Date: 03/09/2019 03:14:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas](
	[persona_id] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[F_Nacimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[persona_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
